<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список Фильмов</title>
    <!-- Подключение Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Список Фильмов</h1>
        <ul class="list-group mb-3">
            {% for film in films %}
                <li class="list-group-item">
                    <strong>Название:</strong> {{ film.title }}<br>
                    <strong>Описание:</strong> {{ film.description }}<br>
                    <strong>Отзыв:</strong> {{ film.review }}
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'add_film' %}" class="btn btn-primary">Добавить новый фильм</a>
    </div>
    <!-- Подключение Bootstrap JavaScript и зависимостей -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
